{% extends 'base.html.twig' %}
{% block body %}

<div id="contenu">
 {# {{user}} #}
    <img src="{{ asset('images/imgIndex.jpg') }}" alt="Symfony!"/>
</div>
<footer class="fixed-bottom">
  <div class="container"><span class="copyright">© 2022 Copyright</span><span class="contact">Contact</span></div>
</footer>
{% endblock %}